.centered
{
    text-align: center;
}

.large
{
    font-size: large;
}

.medium
{
    font-size: medium;
}

.small
{
    font-size: small;
}

.color
{
    color: black;
}

.background-color
{
    background-color: white;
}

.border
{
    border: 5px solid black;
}